<style type="text/css">
  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .hm {
    background-image: url('assets/files/add.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">
  <main>
    <div class="row pt-3">

      <div class="col-md-4 mb-4"></div>

      <div class="col-md-4 mb-4">
        <div class="card input-group-addon">
          <div class="card-body">

            <h3 *ngIf="!form.data.id" class="text-center default-text text-dark">Add Timetable</h3>
            <h3 *ngIf="form.data.id > 0" class="text-center default-text text-dark">Update Timetable</h3>

            <div>
              <H4 align="center">
                <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ form.message }}
                </div>
              </H4>
              <H4 align="center">
                <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ form.message }}
                </div>
              </H4>
            </div>

            <form (ngSubmit)="submit()" #timetableForm="ngForm">

              <div class="md-form">

                <!-- Course -->
                <span class="pl-sm-5"><b>Course</b> <span style="color: red;">*</span></span><br>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-graduation-cap grey-text" style="font-size: 1rem;"></i></div>
                    </div>
                    <select class="form-control" name="courseId" [(ngModel)]="form.data.courseId" required>
                      <option value="undefined">------------Select------------</option>
                      <option *ngFor="let obj of form.preload.courseList" [value]="obj.key">{{ obj.value }}</option>
                    </select>
                  </div>
                </div>
                <font color="red" class="pl-sm-5">{{ form.inputerror.courseId }}</font><br>

                <!-- Subject -->
                <span class="pl-sm-5"><b>Subject</b> <span style="color: red;">*</span></span><br>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-book-open grey-text" style="font-size: 1rem;"></i></div>
                    </div>
                    <select class="form-control" name="subjectId" [(ngModel)]="form.data.subjectId" required>
                      <option value="undefined">------------Select------------</option>
                      <option *ngFor="let obj of form.preload.subjectList" [value]="obj.key">{{ obj.value }}</option>
                    </select>
                  </div>
                </div>
                <font color="red" class="pl-sm-5">{{ form.inputerror.subjectId }}</font><br>

                <!-- Semester -->
                <span class="pl-sm-5"><b>Semester</b> <span style="color: red;">*</span></span><br>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-layer-group grey-text" style="font-size: 1rem;"></i></div>
                    </div>
                    <select class="form-control" name="semester" [(ngModel)]="form.data.semester" required>
                      <option value="undefined">------------Select------------</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                </div>
                <font color="red" class="pl-sm-5">{{ form.inputerror.semester }}</font><br>

                <!-- Exam Date -->
                <span class="pl-sm-5"><b>Exam Date</b> <span style="color: red;">*</span></span><br>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-calendar-alt grey-text" style="font-size: 1rem;"></i></div>
                    </div>
                    <input type="date" class="form-control" name="examDate" [(ngModel)]="form.data.examDate"
                      [ngModel]="form.data.examDate | date:'yyyy-MM-dd'" required>
                  </div>
                </div>
                <font color="red" class="pl-sm-5">{{ form.inputerror.examDate }}</font><br>

                <!-- Exam Time -->
                <span class="pl-sm-5"><b>Exam Time</b> <span style="color: red;">*</span></span><br>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-clock grey-text" style="font-size: 1rem;"></i></div>
                    </div>
                    <select class="form-control" name="examTime" [(ngModel)]="form.data.examTime" required>
                      <option value="undefined">------------Select------------</option>
                      <option value="08:00 AM to 11:00 AM">08:00 AM to 11:00 AM</option>
                      <option value="12:00 PM to 03:00 PM">12:00 PM to 03:00 PM</option>
                      <option value="04:00 PM to 07:00 PM">04:00 PM to 07:00 PM</option>
                    </select>
                  </div>
                </div>
                <font color="red" class="pl-sm-5">{{ form.inputerror.examTime }}</font><br>

                <!-- Description -->
                <span class="pl-sm-5"><b>Description</b> <span style="color: red;">*</span></span><br>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-align-left grey-text" style="font-size: 1rem;"></i></div>
                    </div>
                    <textarea class="form-control" name="description" [(ngModel)]="form.data.description" rows="3"
                      placeholder="Enter Short description" style="resize: none;"></textarea>
                  </div>
                </div>
                <font color="red" class="pl-sm-5">{{ form.inputerror.description }}</font><br>

                <!-- Buttons -->
                <div class="text-center">
                  <button type="submit" class="btn btn-success btn-md" style="font-size: 17px">
                     Save
                  </button>&nbsp;
                  <button type="button" class="btn btn-primary btn-md" style="font-size: 17px"
                    (click)="forward('timetablelist')">
                     List
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4"></div>

    </div>
  </main>
</div>

<app-footer></app-footer>